
@{
    ViewData["Title"] = "showCountBySession";
}

<h1>showCountBySession</h1>
@{
    <form>
        <h3>@ViewBag.count</h3>
        <input type="submit" value="OK" class="btn btn-default" />
    </form>
}
